@import "tailwindcss";

@theme {
  --font-sans: "Inter", stroke-sans, system-ui, -apple-system, sans-serif;
  --color-bg: #0b0f1a;
  --color-surface: rgba(17, 24, 39, 0.4);
  --color-border: rgba(59, 130, 246, 0.15);
  --color-text: #e5e7eb;
  --color-text-muted: #9ca3af;
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-primary-glow: rgba(99, 102, 241, 0.3);
  
}

/* LIGHT MODE */
.light {
  --color-bg: #ffffff;
  --color-surface: rgba(0, 0, 0, 0.03);
  --color-border: rgba(0, 0, 0, 0.08);
  --color-text: #0f172a;
  --color-text-muted: #475569;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-primary-glow: rgba(79, 70, 229, 0.25);
}

@layer base {
  *, ::after, ::before {
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
}
